.fa,.fab,.fad,.fal,.far,.fas{
	font-weight: 900 !important;
	}
#content{width: 1200px; margin: 0 auto; margin-bottom: 150px;}
#content .content_area{margin-top: 150px;}

#content #list_search{overflow: hidden; margin-bottom: 30px;}
#content #list_search .list_search_left{float: left; overflow: hidden;}
#content #list_search .list_search_left #list_search1{float: left;}
#content #list_search .list_search_left .scale{float: left; height: 26px; display: inline-block; margin-left: 15px;}
#content #list_search ul{overflow: hidden; clear: both;}
#content #list_search ul li{float: left; margin-right: 10px;}
#content #list_search ul li a{font-size: 30px;}


#content #list_search .list_search_right{float: right; overflow: hidden;}
#content #list_search .list_search_right #list_search3{float: left;}
#content #list_search .list_search_right #list_search3 select{padding: 5px; margin-right: 10px;}
#content #list_search .list_search_right #list_search4{float: left;}
#content #list_search .list_search_right #list_search4 input{padding: 5px; margin-right: 10px;}
#content #list_search .list_search_right #list_search5{float: left;}
#content #list_search .list_search_right #list_search5 button{ padding: 6px 15px; font-size: 15px; background: #00abcd; border: none; color: #fff; cursor: pointer;}


#content #list_top_title ul{overflow: hidden; background: #f4f4f4;}
#content #list_top_title ul li{float: left; text-align: center; font-size: 20px; height: 30px; width: 100px; padding: 20px; color: #333; border-bottom: 1px solid #ccc; border-top: 1px solid #ccc;}
#content #list_top_title ul li:nth-of-type(2){width: 1020px;}
#content #list_content{text-align: center;}
#content #list_content ul{overflow: hidden;transition: all .4s;}
/* #content #list_content ul:hover{background: #f7f7f7;} */
#content #list_content ul:hover li.list_item2>a dl dt{color: #00abcd;}

#content #list_content ul li{ float: left; text-align: center;  width: 100px; padding: 20px; border-bottom: 1px solid #ccc;}
#content #list_content ul li.list_item1{padding: 82px 20px;}
#content #list_content ul li.list_item2{width: 1020px; overflow: hidden;}
#content #list_content ul li.list_item2>a:first-of-type{float: left; display: block; overflow: hidden;}
#content #list_content ul li.list_item2>a:first-of-type img{width: 200px; height: 150px; object-fit: cover;transition: all .3s;}

#content #list_content ul li:hover a:first-of-type img{transform: scale(1.1);}

#content #list_content ul li.list_item2>a:nth-of-type(2){display: block;float: left;}
#content #list_content ul li.list_item2 a dl{ padding: 20px 20px 20px 40px; overflow: hidden; text-align: justify; width: 760px;}
#content #list_content ul li.list_item2 a dl dt{display: block; font-size: 24px; font-weight: 700; transition: all .4s; }
#content #list_content ul li.list_item2 a dl dd{float: left; margin-right: 15px; margin-top: 49px;}



#content .view2 #list_top_title{display: none;}
#content .view2 #list_content{overflow: hidden;}
#content .view2 #list_content ul .list_item1{display: none;}
#content .view2 #list_content ul{width: 400px; float: left;}
#content .view2 #list_content ul:last-of-type{float: none;}
#content .view2 #list_content ul li.list_item2{width: 360px; border-bottom: none;}
#content .view2 #list_content ul li.list_item2>a:first-of-type{float: none; }
#content .view2 #list_content ul li.list_item2>a:first-of-type img{width: 360px; height: 250px;}
#content .view2 #list_content ul li.list_item2>a:nth-of-type(2){width: 360px; float: none;}
#content .view2 #list_content ul li.list_item2 a dl{padding: 10px; width: 338px; border: 1px solid #ccc;}
#content .view2 #list_content ul li.list_item2 a dl dt{font-size: 20px; height: 58px;}
#content .view2 #list_content ul li.list_item2 a dl dd{margin-top: 30px;}
#content .view2 #list_content ul li:hover a:first-of-type img{transform: none;}
#content .view2 #list_content ul:hover{transform: none;}

#page_button{margin-top: 30px;}
#page_button #button{text-align: right; margin-top: 10px;}
#page_button #button a{display: inline-block; width: 100px; text-align: center; padding: 10px 0; color: #999; border: 1px solid #ccc; transition: all .3s;}
#page_button #button a:hover{border: 1px solid #333; color: #333;}
#page_button #button a:last-of-type{border: 1px solid #00abcd; color: #00abcd; transition: all .3s;}
#page_button #button a:last-of-type:hover{background: #00abcd; color: #fff;}
#page_button #button a:first-of-type{margin-right: 15px;}