/* 연구본부 중간 컨텐츠 */
#content .content_area .content_top{padding-bottom: 40px; border-bottom: 1px solid #eee;}
#content .content_area .content_top img{margin-top: 150px;}
#content .content_area .content_top p:nth-of-type(1){font-size: 40px; margin-top: 40px; font-weight: 700; color: #00abcd; margin-bottom: 20px;}
#content .content_area .content_top p:nth-of-type(2){font-size: 20px; }

#content .content_area .research{margin-top: 110px; margin-bottom: 150px;} 
#content .content_area .research ul li{padding-bottom: 302px;overflow: hidden;position: relative;}
#content .content_area .research ul li dl{position: absolute;top:400px;width: 850px; background: #fff;padding: 50px 70px; text-align: justify;}
#content .content_area .research ul li:nth-of-type(1) dl{right:20px; box-shadow: 0 0 20px rgba(0, 0, 0, .1);}
#content .content_area .research ul li:nth-of-type(2) dl{left:20px; box-shadow: 0 0 20px rgba(0, 0, 0, .1);}

#content .content_area .research ul li:nth-of-type(1) img{float: left;}
#content .content_area .research ul li:nth-of-type(2) img{float: right;}

#content .content_area .research ul li dl dt{font-size: 26px; font-weight: 700; color: #00abcd; margin-bottom: 40px;}
#content .content_area .research ul li dl dd{font-size: 20px;}

