/* 기업정보 주주총회 */
.sub_menu ul{width: 750px;}
#content .sub_nav ul{width: 600px;}

 #content .content_area #chart,  #content .content_area .task_con #chart2{text-align: right;} 

#content .content_area h3{width: 300px; float: left;margin-top: 0; font-size: 30px;}

#content .content_area .task_con{margin-top: 100px; overflow: hidden;}
#content .content_area .task_con:first-of-type{margin-top: 50px;}
#content .content_area .task_con table{font-size: 16px; width: 900px;}

#content .content_area .task_con thead tr th{border-bottom: 1px solid #ccc; border-right: 1px solid #ccc; border-top: 1px solid #333; padding: 20px; background: #f7f7f7;}
#content .content_area .task_con thead tr:first-of-type th:last-of-type{border-right: none;}
#content .content_area .task_con tbody tr th{border-bottom: 1px solid #ccc;border-right: 1px solid #ccc;padding: 20px; font-weight: 400;}
#content .content_area .task_con tbody tr td{border-right: 1px solid #ccc; border-bottom: 1px solid #ccc; padding: 20px;}
#content .content_area .task_con tbody tr td:last-of-type{border-right: none;}
#content .content_area .task_con:first-of-type tbody tr td span{margin-left: 30px;}
#content .content_area .task_con:first-of-type{margin-top: 150px;}
#content .content_area .task_con:last-of-type{margin-bottom: 150px;}

#content .content_area p{float: right; color: #999;margin-bottom: 15px;}
#content .content_area .task_con:last-of-type p{margin-top: 30px;}
