/* 연구개발-연구활동 */
.wrap .visual{background: url(../images/sub3/visual.png)no-repeat center;background-size: cover;}

/* swiper subnav */
#content .title_area .sub_nav{text-align: center; margin: 40px 0 ; border-bottom: 1px solid #ccc;}
#content .title_area .sub_nav a{font-size: 1.3rem;padding: 1rem 1rem; display: inline-block; position: relative; width: 120px;}
#content .title_area .sub_nav a.current{color: #00abcd; font-weight: 700;}
#content .title_area .sub_nav a.current::before{content: ''; display: block; width: 100%; height: 3px; background: #00abcd; position: absolute; left: 0; bottom: -2px;}
.swiper-wrapper{padding-top: 10px;}



#content .content_area .top_textbox{margin-top: 30px; width:100%; height: 300px;}
#content .content_area .top_textbox p{text-align: center; font-size: 1.5rem; font-weight: 400; color: #fff; position: relative; top: 50%; transform: translateY(-50%);}
#content .content_area .top_textbox span{display: block; font-size: 1.8rem; font-weight: 500; }


#content .content_area .new_medicine .top_textbox{background: url(../images/sub3/new_lab.png) no-repeat center; background-size: cover;}

#content .content_area .intro_wrap{ margin: 50px 5%;}
#content .content_area .intro_wrap dt{font-size: 1.5rem; font-weight: 700;margin-bottom: 30px;}
#content .content_area .intro_wrap dd{background: #f5f5f5; padding: 5%; box-sizing: border-box; border: 1px solid #dedede; text-align: justify; font-size: 1.2rem; color: #666; line-height: 2.4rem;}


#content .content_area .new_medicine ul{overflow: hidden; padding-bottom: 50px;}
#content .content_area .new_medicine li{float: left;  text-align: center; color: #333;width: 40%; padding-bottom: 40%;box-sizing: border-box; border: 1px solid #ccc;border-radius: 50%; position: relative; margin: 5%;}
#content .content_area .new_medicine li .circle_inner{position: absolute; top: 50%; left: 50%; transform: translateX(-50%) translateY(-50%);}
#content .content_area .new_medicine li img{width: 100%;}
#content .content_area .new_medicine li p{font-weight: 500; font-size: 1.5rem;}



#content .content_area .product_develop{margin-bottom: 50px;}
#content .content_area .product_develop .top_textbox{background: url(../images/sub3/develop.png) no-repeat center; background-size: cover;}
#content .content_area .bottom_con ul{overflow: hidden;}
#content .content_area .bottom_con ul li{float: left; margin: 3% 10%; width: 80%; font-size: 20px; color: #666; text-align: center;}
#content .content_area .bottom_con ul li:last-of-type{margin-right: 0;}
#content .content_area .bottom_con dl{position: relative;margin-top: 35px; margin-bottom: 35px;padding: 60px 38px; border: 2px solid #999; padding-top: 80px; box-sizing: border-box; }

#content .content_area .bottom_con dl dt{font-size: 20px; font-weight: 700; border: 3px solid #999; position: absolute; top: -30px; left: 50%; margin-left: -150px; width: 300px; height: 60px; text-align: center; border-radius: 60px; box-sizing: border-box; background: #fff; transition: all .3s;}


#content .content_area .bottom_con dl dt span{display: inline-block;margin-top: 10px; text-align: center;}
#content .content_area .bottom_con dl dt::after, #content .content_area .bottom_con dl dt::before{content: '';display: inline-block;width: 10px; height: 10px; box-sizing: border-box; border: 2px solid #fff; border-radius: 50%;}
#content .content_area .bottom_con dl dt::before{margin-left: -7px; float: left; margin-top: 22px;}
#content .content_area .bottom_con dl dt::after{margin-right: -7px; float: right;margin-top: 22px;}
#content .content_area .bottom_con dl ul{margin-bottom:0;}
#content .content_area .bottom_con dl ul li{width: auto; float: none; margin: 0; margin-bottom: 10px;}
#content .content_area .bottom_con dl ul li:last-of-type{margin-bottom: 0;}

#content .content_area .bottom_con ul li:nth-of-type(1) dl dt{color: #05606c; border-color: #05606c;}
#content .content_area .bottom_con ul li:nth-of-type(1) dl{border-color: #05606c;}
#content .content_area .bottom_con ul li:nth-of-type(1) dl dt::after , #content .content_area .bottom_con ul li:nth-of-type(1) dl dt::before{background: #05606c;}
#content .content_area .bottom_con ul li:nth-of-type(1) dl dd ul li{color: #05606c;}
#content .content_area .bottom_con ul li:nth-of-type(1) dl:hover dt{background: #05606c; color: #fff;}

#content .content_area .bottom_con ul li:nth-of-type(2) dl dt{color: #00abcd; border-color: #00abcd;}
#content .content_area .bottom_con ul li:nth-of-type(2) dl{border-color: #00abcd;}
#content .content_area .bottom_con ul li:nth-of-type(2) dl dt::after , #content .content_area .bottom_con ul li:nth-of-type(2) dl dt::before{background: #00abcd;}
#content .content_area .bottom_con ul li:nth-of-type(2) dl dd ul li{color: #00abcd;}
#content .content_area .bottom_con ul li:nth-of-type(2) dl:hover dt{background: #00abcd; color: #fff;}


#content .content_area .bottom_con ul li:nth-of-type(3) dl dt{color: #7ccadd; border-color: #7ccadd;}
#content .content_area .bottom_con ul li:nth-of-type(3) dl{border-color: #7ccadd;}
#content .content_area .bottom_con ul li:nth-of-type(3) dl dt::after , #content .content_area .bottom_con ul li:nth-of-type(3) dl dt::before{background: #7ccadd;}
#content .content_area .bottom_con ul li:nth-of-type(3) dl dd ul li{color: #7ccadd;}
#content .content_area .bottom_con ul li:nth-of-type(3) dl:hover dt{background: #7ccadd; color: #fff;}


#content .content_area .bio_tech{margin-bottom: 50px;}
#content .content_area .bio_tech .top_textbox{background: url(../images/sub3/bio.png) no-repeat center; background-size: cover;}


#content .content_area .dementia{margin-bottom: 50px;}
#content .content_area .dementia .top_textbox{background: url(../images/sub3/dementia.png) no-repeat center; background-size: cover;}


@media screen and (max-width: 639px) {
    #content .content_area .new_medicine li img{width: 80%;}

}
@media screen and (min-width: 640px) {
    #content .content_area .new_medicine li img{width: 100%;}

}