/* 정도경영 - CCM */

.wrap .visual{background: url(../images/sub4/visual.png)no-repeat center;background-size: cover;}

#content .content_area .ccm_info{overflow: hidden; height: auto; margin-bottom: 50px;}
#content .content_area .ccm_info img{width: 20%; margin-left: 5%;float: left; max-width: 165px;}
#content .content_area .ccm_info dl{width: 65%; margin: 0  5%;float: left;}
#content .content_area .ccm_info dt{color: #00abcd; font-size: 1.5rem;}
#content .content_area .ccm_info dd:first-of-type{ text-align: justify; font-size: 1.2rem; font-weight: 400; color: #333;line-height: 2.4rem; }
#content .content_area .ccm_info dd:last-of-type{ color: #999;font-size: 1rem;}

#content .content_area .youtube{width: 100%;  height: auto; position: relative; padding-bottom: 56.25%;margin-bottom: 50px;}
#content .content_area .youtube iframe{position: absolute; top: 0; left: 0; width: 100%;height: 100%; border: 0; }

#content .content_area .purpose p.mid_con{text-align: justify; padding-bottom:30px; font-size: 1.3rem;position: relative; margin: 0 5%;}
#content .content_area .purpose p.mid_con span{color: #00abcd; font-size: 1.3rem; font-weight: 500;}

#content .content_area .purpose .purpose_con img{width: 90%; margin: 0 5%;}
#content .content_area .purpose .purpose_con dl{padding: 30px 5%;margin-bottom: 30px;}
#content .content_area .purpose .purpose_con dl dt{font-size: 1.5rem; font-weight: 700; margin-bottom: 20px; color: #00abcd;}
#content .content_area .purpose .purpose_con dl dd{font-size: 1.2rem; line-height: 2rem; text-align: justify;}

