@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&family=Noto+Sans+KR:wght@400;500;700&family=Roboto:wght@400;500;700&display=swap');


body{
      background: #f7f7f7;
      font-family: 'Noto Sans KR', sans-serif;

}

#header{
      position: relative;
}

.logo a {
      display: block;
      width: 209px;
      height: 42px;
      background: url(../../common/images/logo.png) no-repeat top center;
      text-indent: -999%;
      overflow: hidden;
      margin: 0 auto;
      position: absolute;
      top: 50px;
      left: 50%;
      margin-left: -104px;
  }

#content {
      width: 1000px;
      margin: 0 auto;
      margin-top: 150px;
      font-family: 'Noto Sans KR', sans-serif;
      margin-bottom: 150px;
}

table {
      width: 80%;
      margin: 0 auto;
      margin-bottom: 30px;
}

th,
td {
      padding: 10px
}

th {
      width: 20%;
      text-align: left;
}


td {
      width: 80%;
      position: relative;
}

th{position: relative;}
th::before{    content: '*';
      color: #00abcd;
      position: absolute;
      font-size: 16px;
      left: -3px;
  }

input,
select {
      padding: 10px ;
      border-radius: 2px;
      border: 1px solid #ccc;
      font-size: 1rem;
      width: 210px;
      outline: 0;
      height: 30px;
}

select{height: 52px;}

table tr:last-child td {
      text-align: center;
      padding: 50px 0 70px 0
}

.necess{
      display: block;
      text-align: right;
      font-size: 14px;
      color: #666;
      margin-right: 90px;
      margin-bottom: 10px;
}
.necess:first-of-type{margin-bottom: 0;}
.necess span{
      color: #00abcd;
      font-size: 18px;
}

#content {
      width: 800px;
      padding: 20px 30px 30px 30px;
      background: #fff;
}

#content h2 {
      text-align: center;
      font-size: 35px;
      margin-top: 70px;
      margin-bottom: 50px;
}

.email input{
      width: 227px;
      padding-right: 0;
}

.hp{width: 100px;}

#loadtext{
      position: absolute;
      top: 20px;
      right: 20px;
      font-size: 14px;
}

#loadtext2{
      position: absolute;
      top: 20px;
      right: 20px;
      font-size: 14px;
}

.chk a{display: inline-block;width: 200px;line-height: 24px;padding: 8px 0;border: none;background: #00abcd;color: #fff;font-size: 16px;margin: 0 5px;}

.chk a:nth-of-type(2){
      background: #999;
}

tr:nth-of-type(7){
      margin-bottom: 50px;
}