/* 오시는길 */
#content .title_area::after{content: ''; position: absolute; left: 50%;width: 2000px; height: 1px; bottom: 55px; background: #999; margin-left: -1000px;}
#content .content_area .kakao{margin-top: 150px;}

#content .content_area .map_info{overflow: hidden;padding-top: 100px; padding-bottom: 100px; margin-bottom: 150px; border-bottom: 1px solid #eee;}
#content .content_area .map_info .map_title{float: left;}
#content .content_area .map_info .map_title h3{font-weight: 400;margin-top: 0; margin-bottom: 10px;}
#content .content_area .map_info .map_title span{display: block;}
#content .content_area .map_info .map_detail{float: right; overflow: hidden; padding-left: 10px;}
#content .content_area .map_info .map_detail ul li{float: left;}
#content .content_area .map_info .map_detail ul li:nth-of-type(1){margin-right: 100px;}
#content .content_area .map_info .map_detail ul li dl dt{font-size: 20px; font-weight: 700; margin-bottom: 15px;}
#content .content_area .map_info .map_detail ul li dl dt i{margin-right: 15px; transform: scale(1.3);}
#content .content_area .map_info .map_detail ul li dl span{display: inline-block; margin-right: 11px; height: 22px; font-size: 12px; color: #fff; line-height: 22px; box-sizing: border-box; text-align: center; padding: 0 13px;}
#content .content_area .map_info .map_detail ul li dl .line1{background: #0052A4;}
#content .content_area .map_info .map_detail ul li dl .line2{background: #009D3E;}
#content .content_area .map_info .map_detail ul li dl .line3{background: #F5A200;}

#content .content_area .office{margin-top: 150px; margin-bottom: 150px;}
#content .content_area .office ul li{padding: 48px 0 50px; border-bottom: 1px solid #eee;}
#content .content_area .office ul li dl{overflow: hidden;}
#content .content_area .office ul li dt{float: left; font-size: 30px; line-height: 60px; font-weight: 400; margin: -10px 0 -9px; width: 35%;}
#content .content_area .office ul li dd{margin-top: 5px; float: left;}
#content .content_area .office ul li dd:nth-of-type(2){float: right;}

#content .content_area .contlist:nth-child(2){position: absolute; left:-1000% }
#content .content_area .contlist:nth-child(3){display: none;}

#content .content_area .contlist:first-of-type{display: block;}

